.simCaptcha-hidden {
    display: none;
}
.simCaptcha-show {
    display: block;
}

@keyframes simCaptcha_shake {
	25% {
		margin-left: -6px
	}

	75% {
		margin-left: 6px
	}

	100% {
		margin-left: 0
	}
}

@-webkit-keyframes simCaptcha_shake {
	25% {
		margin-left: -6px
	}

	75% {
		margin-left: 6px
	}

	100% {
		margin-left: 0
	}
}

.simCaptcha-shake {
    -moz-animation: simCaptcha_shake 0.2s linear infinite both;
	-webkit-animation: simCaptcha_shake 0.2s linear infinite both;
	animation: simCaptcha_shake 0.2s linear infinite both;
}

#simCaptcha-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    opacity: .5;
    z-index: 2000000000;
}
#simCaptcha-layer {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 360px;
    height: 360px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 3px;
    background-size: 20%;
    background-position: 50% 32%;
    background-color: #fff;
    visibility: visible;
    z-index: 2000000002;
    overflow: hidden;
}
#simCaptcha-img-box {
    position: relative;
}

.simCaptcha-mark {
    position:absolute;
    z-index:9999;
    width:25px;
    height:25px;
    background-color:#539ffe;
    color:#fff;
    text-align:center;
    line-height:25px;
    border-radius: 20%;
    border:2px solid #fff;
}
#simCaptcha-errorTip {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    text-align: left;
    text-indent: 9px;
    font-size: 16px;

    -moz-transition: bottom .4s ease-out;
    -o-transition: bottom .4s ease-out;
    -webkit-transition: bottom .4s ease-out;
    transition: bottom .4s ease-out;

    z-index: 999;
    line-height: 29px;
    color: white;

    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.simCaptcha-errorTip-fail {
    background-color: #de715b;
}


#simCaptcha-btn-close {
    border: none;
    background-color: #539ffe;
    outline: none;
    color: #fff;
}
#simCaptcha-btn-refresh {
    border: none;
    background-color: #539ffe;
    outline: none;
    color: #fff;
}
#simCaptcha-btn-confirm {
    border: none;
    background-color: #539ffe;
    outline: none;
    color: #fff;
}